{% extends 'main/base.html' %}

{% block title %}О разработке{% endblock %}

{% block content %}
    <div class="home-content">
        <h2>Кто мы?</h2>
        <p>Мы — команда профессионалов с многолетним опытом в сфере автосервиса. Наша миссия — обеспечить каждому клиенту качественное, честное и быстрое обслуживание.
Мы знаем, как важна надёжность автомобиля, поэтому подходим к каждому ремонту с максимальной ответственностью.</p>
        <p>
            Наш автосервис оборудован современным диагностическим и ремонтным оборудованием, а мастера регулярно проходят обучение и сертификацию.
        </p>
        <p>
            Мы работаем с автомобилями всех марок и моделей, гарантируя прозрачность и безопасность на каждом этапе.
        </p>
        <p>
            Вы можете быть уверены: ваш автомобиль в надёжных руках.
        </p>
    </div>
{% endblock %}