{% extends 'main/base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="home-content">
        <h2>Профессиональный автосервис — быстро, качественно, с гарантией</h2>
        <p>Ищете, кому доверить ремонт или обслуживание машины? Мы предлагаем комплексный автосервис: от замены масла до
            сложного ремонта двигателя. Современное оборудование, опытные мастера и честный подход — всё,
            что нужно для вашей уверенности на дороге.</p>
    </div>
      <div class="gallery">
        <div class="card">
          <img src="https://static.tildacdn.com/tild3835-6161-4934-b038-343233343862/blurred-new-cars-dea.jpg" alt="Авто-мойка">
          <div class="card-text">Автомойка</div>
        </div>
        <div class="card">
          <img src="https://static.tildacdn.com/lib/unsplash/3dca8728-a814-c6e5-b95c-dc5de5883d65/photo.jpg" alt="Замена деталей">
          <div class="card-text">Замена деталей</div>
        </div>
        <div class="card">
          <img src="https://static.tildacdn.com/tild6566-3236-4037-a334-393366316335/4250949e9d3b11efad2c.png" alt="Диагностика авто">
          <div class="card-text">Диагностика авто</div>
        </div>
        <div class="card">
          <img src="https://static.tildacdn.com/lib/unsplash/c975d94f-8685-7ad8-af1e-4be5cbfb8d84/photo.jpg" alt="Шиномонтаж">
          <div class="card-text">Шиномонтаж</div>
        </div>
        <div class="card">
          <img src="https://static.tildacdn.com/tild3862-6239-4937-a465-356463303631/2312606765.png" alt="Замена масла">
          <div class="card-text">Замена масла</div>
        </div>
        <div class="card">
          <img src="https://static.tildacdn.com/tild3265-6466-4539-b465-613133363763/846dc502-0154-4cb2-a.png" alt="Кондиционеры">
          <div class="card-text">Обслуживание кондиционеров</div>
        </div>
      </div>
{% endblock %}
